.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
  width: 100%;
  color: #348599;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  .title {
    margin-bottom: 24px;
  }

  .children {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}
