header {
  display: flex;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 64px;
  background-color: rgba(78, 94, 255, .7);
  text-align: center;
  line-height: 64px;

  .title {

    margin: auto;
  }

  nav {
    position: absolute;
    right: 24px;

    a {

      text-decoration: none;
      padding: 10px;
      color: #ffffff;
    }
  }
}
